{% extends 'polls/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content  %}
    <div class="features">
        <h1>О нас</h1>
        <h4>Этот сайт создан для лабораторных работ по предмету "Разработка профессиональных приложений". Здесь будет выполнены задания для лабораторных работ №7 и №8. Воооооот.....</h4>
        <h1>Анекдот!</h1>
        <h4>Собрались два чувака поиграть в гольф один говорит:</h4>
        <h4>— ну я пойду в магазин, мячей для гольфа куплю</h4>
        <h4>— не нужно, у меня уже есть один</h4>
        <h4>— как это " у тебя есть один", а если ты его потеряешь?!</h4>
        <h4>— не потеряю, это особенный мячик, его невозможно потерять</h4>
        <h4>— а если он в воду упадет?</h4>
        <h4>— он плавает на воде, его невозможно потерять!</h4>
        <h4>— а если в кусты закатится и ты его не найдешь?</h4>
        <h4>— в нём встроен датчик слежения, плюс он издает звуки... его невозможно потерять!</h4>
        <h4>— ну а если он в темноте куда-нибудь исчезнет?</h4>
        <h4>— он светится в темноте и пульсирует. говорю же, это особенный мячик, его НЕВОЗМОЖНО потерять!!!!</h4>
        <h4>— удивительно, где ты его достал?</h4>
        <h4>— нашел...</h4>

    </div>
{% endblock %}