{% extends 'polls/layout.html' %}

{% block title %}Изменение пользователя{% endblock %}

{% block content  %}
    <div class="features">
        <h1>Изменение пользователя</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username }}<br>
            {{ form.password }}<br>
            {{ form.date_joined }}<br>
            <span>{{ error }}</span>
            <h3>(Нажми, чтобы изменения вступили в силу)</h3>
            <button class="btn btn-success" type="submit">Жмяк</button>
        </form>
    </div>
{% endblock %}