{% extends 'polls/layout.html' %}

{% block title %}Добавление пользователя{% endblock %}

{% block content  %}
    <div class="features">
        <h1>Добавление подписки</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.follower }}<br>
            {{ form.following }}<br>
            {{ form.date_follow }}<br>
            <span>{{ error }}</span>
            <h3>Нажми, чтобы добавить</h3>
            <button class="btn btn-success" type="submit">Жмяк</button>
        </form>
    </div>
{% endblock %}