{% extends 'polls/layout.html' %}

{% block title %}{{ images.post }}{% endblock %}

{% block content  %}

<div class="features">
    <table class="table">
        <thead><tr><th>Пост: {{ images.post }}</th></tr></thead>
        <thead><tr><th>Ссылка на картинку: {{ images.image }}</th></tr></thead>
        {% if request.user.is_superuser %}
        <td>
            <a href="{% url 'images-update' images.id %}" class="btn btn-warning">Изменить</a>
            <a href="{% url 'images-delete' images.id %}" class="btn btn-danger">Удалить</a>
        </td>
        {% else %}
        {% endif %}
    </table>
</div>

{% endblock %}