{% extends 'polls/layout.html' %}

{% block title %}Удаление поста{% endblock %}

{% block content  %}
    <div class="features">
        <h1>Удаление поста</h1>
        <form method="post">
            <table class="table">
                <thead><tr><th>Id пользователя: {{ posts.author_id }}</th></tr></thead>
                <thead><tr><th>Пост: {{ posts.post }}</th></tr></thead>
                <thead><tr><th>Лайки: {{ posts.like }}</th></tr></thead>
                <thead><tr><th>Дата поста: {{ posts.date_created }}</th></tr></thead>
            </table>
            {% csrf_token %}
            {{ form.author_id }}
            {{ form.post }}
            {{ form.like }}
            {{ form.date_created }}
            <span>{{ error }}</span>
            <h3>Нажми, чтобы удалить</h3>
            <button class="btn btn-success" type="submit">Жмяк</button>
        </form>
    </div>
{% endblock %}